__pycache__/
*.pyc
.env
.venv/
wandb/
# outputs/models/*
!outputs/models/.gitkeep
*.pt
*.bin
.DS_Store
.cache/
# Model checkpoints
outputs/**/models/

# Dataset splits
outputs/**/splits/

# Predictions
outputs/**/predictions/

datasets/*
!datasets/
!datasets/README.md